@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --desaturated-grayish-blue: hsl(214, 17%, 51%);
    --grayish-blue: hsl(212, 23%, 69%);
    --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    background: var(--light-grayish-blue);
    display: grid;
    place-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: 375px;
}

.card {
    display: flex;
    flex-direction: column;
    background: white;
    width: 328px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.card > .card-header-img {
    width: 100%;
    height: 200px;
    background-image: url(/images/drawers.jpg);
    background-size: cover;
    background-position: center 30%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content {
    padding: 30px;
}

.card-title {
    color: var(--very-dark-grayish-blue);
    font-weight: 700;
    font-size: 16px;
}

.card-description {
    margin-top: 16px;
    font-size: 14px;
    line-height: 22px;
    color: var(--desaturated-grayish-blue)
}

.author-container {
    display: flex;
    align-items: center;
    padding: 10px 30px 10px 30px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.author-container.shared-active {
    position: absolute;
    padding: 20px 30px;
    background-color: var(--very-dark-grayish-blue);
    bottom: -17%;
    left: 0;
    transition: bottom 0.2s ease-out
}

.author-container.shared-active.show {
    bottom: 0;
}

.author-avatar {
    width: 50px;
    border-radius: 50%;
}

.author-info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    line-height: 20px;
}

.author-name {
    color: var(--very-dark-grayish-blue);
    font-weight: 700;
}

.post-date {
    color: var(--grayish-blue);
}

.share-btn {
    height: 30px;
    width: 30px;
    margin-left: auto;
    background-image: url(/images/icon-share.svg);
    background-repeat: no-repeat;
    background-position: center 45%;
    background-color: var(--light-grayish-blue);
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}

.share-btn.active {
    background-color: var(--desaturated-grayish-blue);
    background-image: url(/images/icon-share-white.svg);
}

.share-btn:focus {
    outline: none;
}

.share-text {
    letter-spacing: 4px;
    color: var(--desaturated-grayish-blue);
    font-size: 12px;
}

.share-icon {
    margin-left: 15px;
}


@media only screen and (min-width: 768px) {
    .card {
        flex-direction: row;
        width: 100%;
        height: 280px;
        max-width: 625px;
    }

    
    .card > .card-header-img { 
        width: 40%;
        height: 100%;
        border-radius: 0px;
    }

    .card-inner-wrapper {
        width: 60%;
        padding: 30px;
    }

    .container {
        max-width: none;
    }

    .card-content {
        padding: 0;
    }

    .author-container {
        margin-top: 15px;
        padding: 0;
    }

    .author-container.shared-active {
        display: none;
    }



  
}